<div id="{{key}}" class="col-md-4 movieCard2">
   <button id="watch--{{key}}" class="watch-list-delete">Remove Card</button>
    <h2> {{title}}</h2>
    <p>{{release_date}}</p>
    <p> Starring </p>
    {{#each cast}}
    <p>{{name}} as {{character}}</p>
    {{/each}}
    <input id="star--{{key}}" type="text" class="rating" data-size="xs" >

</div>
